<nav>
    <div>
        <a href="/homepage"><img src="/images/flixcart_logo.png" class="logo" alt="logo img"/> </a> 
    </div>
    <div class="warehousenav">
        <a href="/warehouse/1" class="btn btn-success">North Branch</a>
        <a href="/warehouse/2" class="btn btn-success">South Branch</a>
        <a href="/warehouse/3" class="btn btn-success">East Branch</a>
        <a href="/warehouse/4" class="btn btn-success">West Branch</a>
        <a href="/user/signout" class="btn btn-danger">Log Out</a>
    </div>
</nav>
<section class="welcome">
        <div id="welmessage">
            <h1>Welcome to Flixcart Warehouse {{thisUser}}</h1>
            <p> All the products you need in one place! We are proud of all our workers that choose to work with us.</p>
            <button class="btn btn-info"><a href="/user/create-user">Create New User</a></button>
        </div>
        <div>
            <img src="/images/welcome_image.jpg" class="girl" alt="welcome image"/>
        </div>
    </section>